.menu-bar-view {
    display: flex;
    justify-content: center;
}

vaadin-menu-bar[part='container'] {
  		  position: relative;
          display: flex;
          width: 100%;
          flex-wrap: nowrap;
          overflow: hidden;
          justify-content: center;
}

.custom-text-field::part(input-field) {
  font-size: var(--lumo-font-size-s);
  background: white;
}

.pointer-icon{
	cursor: pointer;
}

vaadin-menu-bar::part(container){
	  	  position: relative;
          display: flex;
          width: 100%;
          flex-wrap: nowrap;
          overflow: hidden;
          justify-content: center;
}

vaadin-dialog-overlay[theme="custom-dialog"]::part(content){
	padding:0;
	width: 500px;
}

vaadin-menu-bar-button{
	color: var(--lumo-primary-text-color);
}

.custom-span-header {
  color: var(--lumo-secondary-text-color);
  background-color: #f5f8fd;
  display: block;
  font-size: var(--lumo-font-size-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
}

.small-notification-div {
    font-size: var(--lumo-font-size-s);
    margin-left: 0.2em;
}
vaadin-notification-card::part(content){
	border-radius: 5px;
	padding: 8px;
}

.icon-style{
      width: 0.8em;
      height: 0.8em;
}

vaadin-item{
	cursor: pointer;
	padding-left: 10px;
}

vaadin-item::part(checkmark) {
    display: none;
}

